{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
    <section class="page-section about-heading">
        <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/noviazgo.jpg' %}" alt="">
        <div class="about-heading-content">
            <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Objetivo específico</span>
                </h2>
                <p>Facilitar a los jóvenes las herramientas necesarias para que sepan distinguir violencia de amor o afecto, 
                    apoyados de un Ponente experto en el tema, realizando 
                    publicaciones para llamar la atención de jóvenes ente 14-19 años en redes sociales.
                </p>

                <ol>
                    <li>Conocer la magnitud cuantitativa de la violencia en el noviazgo.</li>
                    <li>Determinar que es la violencia y los tipos de violencia que existentes.</li>
                    <li>Proponer un taller que brinde información para la prevención de la violencia en el noviazgo.</li>
                </ol>

                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">el miedo de la mujer a la violencia del hombre es el espejo del miedo del hombre a la mujer sin miedo</span>
                </h2>
                <div class="intro_button mx-auto">
                    <a class="btn btn-primary btn-xl" href="https://www.canva.com/design/DAFJFNoKVNI/IIvSYMWvNvjEoyowzqrb4A/edit?utm_content=DAFJFNoKVNI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton#6" target="_blank">Saber más</a>
                </div>
                </div>

            </div>
            </div>
        </div>
        </div>
    </section
{% endblock %}