{% extends 'core/base.html' %}

{% load static %}

{% block title %}Dependencias{% endblock %}

{% block content %}

    <!-- Mensaje -->
    <section class="page-section cta">
        <section class="page-section about-heading">
          <div class="container">
            <div class="about-heading-content">
              <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                  <div class="bg-faded rounded p-5">
                    <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">Instituto poblano de la mujer</span>
                    </h2>
                    <div>
                      <ul>
                        <li>Tel Mujer 8006242330 y 2223090900</li>
                        <li>Horario lunea a viernes de 9:00 a 18:00 horas</li>
                      </ul>
                    </div>
                    <br>
                    <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">telmujer</span>
                    </h2>
                    <div>
                      <ul>
                        <li>numero directo 2222323738 o al 911</li>
                        <li>24 horas al dia</li>
                      </ul>
                    </div>
                    <br>
                    <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">No estas sola</span>
                    </h2>
                    <div>
                      <ul>
                        <li>WhatsApp:2223564020 linea directa 2222323738</li>
                        <li>las 24 horas del dia los 7 dias de la semana</li>
                      </ul>
                    </div>
                    <br>
                    <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">Comision Nacional para prevenie y errdicar la violencia contra las mujeres (conavim)</span>
                    </h2>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
{% endblock %}
