{% extends 'core/base.html' %}

{% load static %}

{% block title %}Semana 3{% endblock %}

{% block content %}
<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/ciclo.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Causas que provocan el problema central</span>
              </h2>
              <div>
                <ul>
                  <li>Controla todo lo que haces</li>
                  <li>Te cela</li>
                  <li>Te vigila y controla tu forma de vestir</li>
                  <li>Te desvaloriza, te ofende, descalifica</li>
                  <li>Te obliga a hacer cosas que no quieres</li>
                  <li>Amenaza con dejarte cuando no haces lo que te pide</li>
                  <li>Te presiona tener relaciones sexuales</li>
                  <li>Revisa tus pertenencias</li>
                </ul>
              </div>
              <br>
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Efectos negativos que provocan el problema </span>
              </h2>
              <div>
                <ul>
                  <li>Embarazos no deseados</li>
                  <li>Afeccion del autoestima</li>
                  <li>Miedo</li>
                  <li>Aislamiento</li>
                  <li>Abandono de planes</li>
                  <li>Depresion</li>
                </ul>
              </div>
              <br>
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Posible solucion que aportara el proyecto</span>
              </h2>
              <div>
                <p align="justify">
                  Evitar violencia en el noviazgo mediante charlas o talleres derigido a jovenes de entre 14 y 18 años hablando de manera 
                  individual con cada uno de ellos, familiares o amigos,al realizar esto estariamos disminuyendo golpes, maltrato fisico y 
                  verbal al igual que enbarazoz no deseados,informacion sobre centros de ayuda para ambos ya que tanto hombre como mujer 
                  generan violencia y se da de ambas partes
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
